.home-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../../resources/cafe_image.jpg");
  height: 85vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-bg h1 {
  margin: 0;
  color: white;
  font-size: 40px;
}
.footer-menu a {
  font-family: "Kapakana", cursive;
  color: black;
  font-size: 32px;
  text-align: center;
  padding: 20pt;
  margin-left: 50pt;
  margin-right: 55pt;
}
.footer-menu a:hover {
  color: rgb(4, 115, 4);
}
