.app-container {
  height: 100vh;
}

.app-container nz-header {
  background-color: white;
  border-bottom: 2px solid #0e6903;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-container nz-content {
  padding: 10px;
}
