<button nz-button [nzType]="'primary'" (click)="showModal()"><span>Sign in</span></button>
<nz-modal nzWidth="650px" [(nzVisible)]="isVisible" nzTitle="Sign in / Sign up" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" 
[nzFooter]="null">
  <div class="sign-in-content" *nzModalContent>
    <app-login-form *ngIf="screen === 'sign-in'" (onLoginSuccessful)="handleOk()" (onSwitchSignUp)="showSignUp()"/>
    <app-sign-up-form *ngIf="screen === 'sign-up'" (onSignUpSuccessful)="handleOk()" (onSwitchSignIn)="showSignIn()"/>
    <div class="sign-in-content-buttons">
    <!-- <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="false">Login</button> -->
    </div>
  </div>
</nz-modal>