.login-footer-text {
  text-align: left;
}

.sign-in-content-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}